.gridfield {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3px;
    max-width: 300px;
    margin: auto;
    transition-duration: 0.5s;
}

.gridPuzzle button {
    width: 100%;
    line-height: 1;
    aspect-ratio: 1;
    background-color: #f15924;
    border-radius: 5%;
    transition-duration: 0.5s;
}

.gridPuzzle button.active {
    cursor: pointer;
}