.guessNumber {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #4a4948;
  border-radius: 9px;
}

.guessNumber header {
  position: relative;
  height: 15vh;
  border-bottom: 7px solid #eee;
}

.guessNumber main {
  height: 40vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.guessNumber .left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guessNumber .right {
  font-size: 20pt;
}

/* ELEMENTS STYLE */
.guessNumber h1 {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.guessNumber .number {
  position: absolute;
  background: #eee;
  color: #333;
  font-size: 50pt;
  width: 150px;
  height: 100px;
  bottom: 0%;
  padding-top: 20px;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 50%);
}

.guessNumber .between {
  font-size: 14pt;
  position: absolute;
  top: 30%;
  right: 2%;
}

.guessNumber .again {
  position: relative;
  top: 10%;
  left: 10%;
}

.guessNumber .guess {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 40pt;
  padding: 2.5rem;
  width: 200px;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.guessNumber .btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 20px;
  font-family: inherit;
  width: 150px;
  padding: 5px;
  cursor: pointer;
}

.guessNumber .btn:hover {
  background-color: #ccc;
}

.guessNumber .message {
  margin-bottom: 8rem;
  height: 3rem;
}

.guessNumber .label-score {
  margin-bottom: 2rem;
}
