@import url('https://fonts.cdnfonts.com/css/morpheus');

.memoryCardsDesc {
    font-family: 'Morpheus', sans-serif;
    text-align: center;
}

.memoryCardsArea {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));*/
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    max-width: 800px;
    margin: auto;
}

.memoryCardsArea button {
    width: 100%;
    aspect-ratio: 1; 
    cursor: pointer;
    background-color: #f15924;
    transition-duration: 0.3s;
    padding: 0;
    border-radius: 5%;
}

.blackWhite {
    /*-webkit-filter: grayscale(100%);*/
    filter: grayscale(100%);
    cursor: default !important;
}

.memoryCards img {
    height: 80%;
    width: 80%;
    object-fit: cover;
    border-radius: 5%;
}