@import url('https://fonts.cdnfonts.com/css/morpheus');

.memoryCards {
    font-family: 'Morpheus', sans-serif;
    text-align: center;
}

.memoryCards table {
    margin: auto;
}

.memoryCards button {
    cursor: pointer;
    width: 10vw;
    height: 10vw;
    max-width: 100px;
    max-height: 100px;
    margin: 5px;
    background-color: #f15924;
    transition-duration: 0.3s;
    vertical-align: middle;
    padding: 0;
    border-radius: 5%;
}

.blackWhite {
    /*-webkit-filter: grayscale(100%);*/
    filter: grayscale(100%);
    cursor: default !important;
}

.memoryCards img {
    height: 80%;
    width: 80%;
    object-fit: cover;
}