.minesweeper {
    font-family: 'Morpheus', sans-serif;
    text-align: center;
}

.minesweeper table {
    margin: auto;
}

.minesweeper button {
    width: 50px;
    height: 50px;
    margin: -4px;
    padding: -4px;
    background-color: #8d8d8d;
    /*transition-duration: 0.3s;*/
}

.minesweeper tr {
    margin: 0px;
    padding: -50px;
}

.minesweeper button.active {
    cursor: pointer;
}