.minefield {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 0px;
    max-width: 600px;
    margin: auto;
}

.minesweeper {
    font-family: 'Morpheus', sans-serif;
    text-align: center;
}

.minesweeper button {
    width: 100%;
    aspect-ratio: 1;
    line-height: 1;
    cursor: pointer;
    background-color: #8d8d8d;
    transition-duration: 0.1s;
    font-size: large;
    font-weight: bold;
}

.minefield .passive {
    cursor: default !important;
}