.minesweeper {
    font-family: 'Morpheus', sans-serif;
    text-align: center;
}

.minesweeper table {
    margin: auto;
}

.minesweeper button {
    width: 50px;
    height: 50px;
    line-height: 1;
    background-color: #8d8d8d;
    /*transition-duration: 0.3s;*/
    font-size: large;
    font-weight: bold;
}


.minesweeper button.active {
    cursor: pointer;
}