.oldMsgArea {
    text-align: left;
    background-color: #ddd;
    padding: 10px;
    width: 50vw;
    margin: auto;
    border: none;
    border-radius: 10px;
    box-shadow:
        inset 3px 3px 10px rgba(0,0,0,0.4),
        inset -3px -3px 10px rgba(0, 0, 0, 0.4);
    max-height: 40vh;
    overflow-y: auto;
}

.msgItem {
    margin: 2px 20px;
    padding: 5px;
    color: #000;
    font-size: 2vh;
    font-family: monospace;
}

.newMsgArea {
    text-align: center;
    margin: auto;
    width: 80vw;
}

.msgBox {
    font-family: 'Nunito', Geneva, Verdana, sans-serif;
    padding-top: 2px;
    margin: 10px;
    border-radius: 5px;
    font-size: 16pt;
    width: 30%;
    resize: none;
    display: inline-block;
    vertical-align: middle;
}

.msgBox:focus {
    border-color: #f15924;
    outline: none;
}

.msgBtn {
    width: 20%;
    max-width: 120px;
    aspect-ratio: 3;
    border-radius: 10px;
    color: #f15924;
    background-color: black;
    display: inline-block;
    vertical-align: middle;
}

.deleteMsg {
    padding-right: 20px;
    cursor: pointer;
    color: #f15924;
    font-weight: bold;
    font-size: 2vh;
}