.rollTheDiceGame {
  font-family: 'Nunito', sans-serif;
  color: #333;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  border-radius: 9px;
  position: relative;
  backdrop-filter: blur(200px);
  filter: blur();
  overflow: hidden;
}

.rollTheDice_desc {
    text-align: center;
    border-radius: 9px;
    font-size: 14pt;
    color: white;
    font-family: 'Nunito', sans-serif;
    background-color: #c7365f;
    padding: 1px;
}

.player {
  flex: 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

.name {
  position: relative;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
}

.score {
  margin: 0 0 0 0;
  font-size: 100pt;
  font-weight: 300;
  color: #c7365f;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}

.player--active .name {
  font-weight: 700;
}

.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 50%;
  text-align: center;
  transition: all 0.75s;
}

.current-label {
  text-transform: uppercase;
  font-size: 1.7rem;
  color: #ddd;
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 14pt;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;

  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
  font-size: 30pt;
  display: inline-block;
}

.btn--new {
  top: 1rem;
}

.btn--roll {
  top: 20rem;
}

.btn--hold {
  top: 28rem;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 8rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

.hidden {
  display: none;
}