@import url('https://fonts.cdnfonts.com/css/morpheus');

.memorygame {
    font-family: 'Morpheus', sans-serif;
    text-align: center;
}

.memorygame table {
    margin: auto;
}

.memorygame button {
    cursor: pointer;
    width: 120px;
    height: 120px;
    margin: 5px;
    background-color:  #dd6e13;
    border-radius: 5%;
    transition-duration: 0.3s;
}

.blackWhite {
    /*-webkit-filter: grayscale(100%);*/
    filter: grayscale(100%);

}
