@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #f3f1ee;
}

.navigation {
    vertical-align: middle;
    text-align: center;
    font-family: 'Nunito', Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

.description {
    text-align: center;
    font-family: 'Nunito', Geneva, Verdana, sans-serif;
    padding-top: 2px;
}

.pig-game-desc {
    text-align: center;
    border-radius: 9px;
    font-size: 14pt;
    color: white;
    font-family: 'Nunito', sans-serif;
    background-color: #c7365f;
    padding: 1px;
}

.nav_button {
    display: inline-block;
    color: rgb(36, 36, 36);
    font-size: 14pt;
    font-weight: bold;
    cursor: pointer;
    margin: 5px 20px 5px 20px;
}
.seperator {
    display: inline-block;
    font-size: 20px;
    margin: 15px 10 15px 10px;
    font-weight: bold;
}

.dropdown-content {
    display: none;
}
.show {
    display: block;
}
.navigation p:hover {
    text-decoration: overline;
    color: #dd6e13;
}

.hidden {
    display: none;
}

.content {
    /*margin: auto;*/
    width: auto;
    display: block;
}

.unity {
    text-align: center;
    font-family: Nunito, Geneva, Verdana, sans-serif;
}

#fullpage {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: black;
}
footer {
    text-align: center;
    font-family: Arial;
    margin: 10px;
}